<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
    <title>Tic Tac Toe</title>

  </head>
  <body>
    <div id="tic-tac-toe-view-placeholder"></div>

    <!-- JavaScript Files -->
    <script src="http://0.0.0.0:3000/static/bundle.js"></script>
    <!-- <script src="/dist/bundle.js"></script> -->
  </body>
</html>
